.container {
   max-width: 2080px;
    margin: 0 auto;
  }
  
  .section {
    padding: 50px 0;
    
  }
  #btn{
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 200px;
    height: 30px;
    background-color: rgb(233, 175, 175);
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }