#dailyData{
    border: blue 6px solid;
    width: 80%;
    margin: auto;
    height: 150px;
    background-color: rgb(235, 233, 233);
}
#data{
    display: flex;
}
#TOTAL_CASES{
    border-bottom: blue 6px solid;
    height: 50%;
    font-size: 15px;
    text-align: center;
}
#TOTAL{
    font-size: 30px;
    margin-bottom: 40%;
}
.timeline{
    padding-top:15px;
    border: blue 6px solid ;
    width: 25%;
    text-align: center;
}
#covid{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: gray;
    padding: 10px;
}
