#countries{
  border: #000 1px solid;
  width: 20%;
  height: 10px;
}
#navStyle{
  display: flex;
  border: #000 solid 1px; 
  justify-content: space-around;
  
  padding: 10px;
}
#country{
  border: #000 1px solid;
  width: 20%;
  height: 40px;
}
input{
  margin-right: 20px;
}
.display{
  border: #000 1px solid;  
  max-height: 300px;
  width: 200px;
  position: absolute;
  overflow-y: scroll;
  background-color: #fff;
  margin-left:560px;
}
.display div{
  padding: 3px;
}
#map{
  margin-left: 700px;
}
.display div:hover {
  background-color: blue;
  }